* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/patt.png);
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.logo_image {
    margin: 32px 124px 28px 16px;

}

.menu_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu_block li {
    list-style: none;
    padding: 28px 42px;
    border-left: 1px solid #2c71b8;
}

.menu_block a {
    text-decoration: none;
    color: #2c71b8;
}

.logo {
    margin-top: 7px;
}

.menu>li {
    float: left;
    max-width: 25%;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu>li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu>li>a {
    display: block;
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
}

.menu>li>a:hover {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2c71b8;
    color: white;
}

.active {
    background-image: url(../img/icons/down_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 1em;
}

.submenu {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: -1px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.submenu>li {
    float: none;
    width: 201%;
}

.submenu>li>a {
    display: block;
    padding: 12px 0 12px 28px;
    width: 100%;
    text-decoration: none;
    background-color: #2c71b8;
    color: white;
    text-align: left;
    line-height: 21px;
    font-weight: 300;
    font-size: 21px;
}

.menu>li:hover>.submenu {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.menu>li:hover>a {
    background-color: #2c71b8;
    color: white;
}

.menu>li:hover>.active {
    background-image: url(../img/icons/down_arrow_white.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 1em;
}

.submenu>li>a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #2c71b8;
}

.col-md-9 {
    width: 75%;
}

.form-search {
    border: 1px solid #2c71b8;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px;
    position: relative;
    height: 40px;
}

.form-search input {
    padding: 0;
    height: 100%;
    border: none;
    background: transparent;
}

.form-search input[type*="text"] {
    max-width: 100%;
    width: auto;
    font-size: 18px;
    color:#2c71b8;
}

.form-search input:focus {
    outline: none;
}


::-webkit-input-placeholder {
    color: #2c71b8;
    font-size: 15px;
    font-weight: 300;
}

::-moz-placeholder {
    color: #2c71b8;
    font-size: 15px;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #2c71b8;
    font-size: 15px;
    font-weight: 300;
}

:-moz-placeholder {
    color: #2c71b8;
    font-size: 15px;
    font-weight: 300;
}

.form-search input::-webkit-input-placeholder {
    font-size: 18px;
}

.form-search input::-moz-placeholder {
    font-size: 18px;
}

.form-search input:-ms-input-placeholder {
    font-size: 18px;
}

.form-search input:-moz-placeholder {
    font-size: 18px;
}

.search-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(../img/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
}

.cart {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    background-image: url(../img/icons/cart.png);
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.breadcrumbs>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.main_title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 50px;
}

.product-count {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 90%;
    background-color: #2c71b8;
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
}

.product {
    border: 1px solid white;
    margin: 15px auto;
}

.product-image {
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    position: relative;
}

.image_card {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.zoom {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../img/icons/zoom.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.zoom:hover {
    background-color: #2c71b8;
    background-image: url(../img/icons/zoom_active.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
 
.like {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    position: absolute;
    top: 50px;
    right: 10px;
    background-image: url(../img/icons/like.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.like:hover, .liked {
    background-color: #2c71b8;
    background-image: url(../img/icons/like_active.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.product-body {
    border-top: 1px solid #fff;
    color: #fff;
    padding: 15px;
}

.product-title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;

}

.product-description {
    font-weight: 300;
    font-size: 18px;
    padding-top: 20px;

}

.product-features {
    padding-top: 15px;
    padding-bottom: 30px;
}

.type {
    padding-bottom: 16px;
}

.size {
    padding-bottom: 20px;
}

.bold {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
}

.thin {
    font-weight: 300;
    font-size: 21px;
}

.product-price {
    padding-bottom: 25px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.degree {
    vertical-align: super;
    font-size: 24px;
}

.button_det {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    background-color: #2c71b8;
    border: 1px solid #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.button_det:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.button_cart {
    width: 100%;
    padding: 15px 0;
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    background-color: #2c71b8;
    background-image: url(../img/icons/cart_active.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 0.8em;
    border: 1px solid #fff;
    text-transform: uppercase;
}

.button_cart:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.other-info {
    margin-top: 38px;
    margin-bottom: 88px;
}

.other_product {
    color: rgba(255, 255, 255, 0.9);
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.filter-box {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.25);
}

.filter_block {
    margin-bottom: 60px;
}

.filter_block:last-child {
    margin-bottom: 0px;
}

.filter-title {
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 21px;

}

.filter-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 21px;
    margin-bottom: 21px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: inline-block;
    padding-bottom: 24px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 21px;
}

input[type="checkbox"]+label:last-child {
    padding-bottom: 0;
}

label::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
}

input[type="checkbox"]:checked+label::before {
    background-color: #fff;
}

.footer {
    width: 100%;
    padding-top: 40px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.75) ;
}

.footer_text {
    text-align: center;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.35);
}

.modal-block {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2c71b8;
    border: 1px solid grey;
    padding: 15px;
    margin: 100px auto;
}

form > h3 {
    margin-top: 15px;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.form-fields {
    margin: 10px 0;
}

.form-fields input {
    width: 100%;
    height: 30px;
    padding: 5px 10px 0;
    line-height: 28px;
    border:none;
}

.form-fields input[type*="text"] {
    font-size: 14px;
    color:#2c71b8;
}

.form-fields input:focus {
    outline: none;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    text-align: right;
    color:#fff;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.modal_btn {
    display: block;
    width: 120px;
    margin: 20px auto;
    border:none;
    outline: none;
    padding: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    background-color: #fff;
    color: #2c71b8;
    cursor: pointer;
}

.product-quanity {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px 0;
    background-color: #2c71b8;
}

.product-quanity input {
    margin: 0 15px;
    padding: 0 10px;
    width: 50px;
    background-color: transparent;
    border: none;
    color:#fff;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.product-quanity button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
    color:#fff;
    font-weight: 700;
    font-size: 10px;
}

.product-quanity button:hover, .product-quanity button:active {
    background-color: white;
    
    color:#2c71b8;
    font-weight: 700;
    font-size: 16px;
}

.slider-block {
    min-width: 0;
}

.slider_section {
    max-height: 400px;
    background-color:rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
}

.slick-slider {
    position: relative;
    
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    min-width: 0;
}


.slick-slider .slick-prev {
    padding: 1px 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 0;
    background: url(../img/icons/arrow_left.png) 0 0 / 100% no-repeat;
    width: 25px;
    height: 50px;
    border: none;
    z-index: 30;
} 
.slick-slider .slick-next {
    padding: 1px 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 0;
    background: url(../img/icons/arrow_right.png) 0 0 / 100% no-repeat;
    width: 25px;
    height: 50px;
    border: none;
    z-index: 30;
} 

.slick-slider .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slider .slick-dots li {
    list-style: none;
}
.slick-slider .slick-dots button {
    margin: 0 10px;
    padding: 0;
    box-sizing: content-box;
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: transparent;
}

.slick-slider .slick-dots .slick-active button {
    background-color: #fff;
}

.slider-block > div {
    width: 100%;
    padding: 150px 0;
    font-size: 100px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
}

