* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/patt.png);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after,
.menu::after {
    content: "";
    clear: both;
    display: block;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}
.col-md-8 {
    width: 67%;
}
.col-md-4 {
    width: 33%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.logo_image {
    margin: 32px 124px 28px 16px;

}

.menu_block {
    display: flex;
}

.menu_block li {
    list-style: none;
    padding: 28px 42px;
    border-left: 1px solid #2c71b8;
}

.menu_block a {
    text-decoration: none;
    color: #2c71b8;
}

.search_input {
    border-color: #2c71b8;
    font-size: 21px;
    color: #2c71b8;
    box-sizing: border-box;
    width: 200px;
}

.search_block {
    position: relative;
}

.magnifier {
    background-color: #2c71b8;
    position: absolute;
    top: 4px;
    right: 4px;
}

.logo {
    margin-top: 7px;
}

.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu > li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu > li > a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
}

.menu > li > a:hover {
    background-color: #2c71b8;
    color: white;
}

.active {
    background-image: url(../img/icons/down_arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 1em;
}

.submenu {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: -1px;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}

.submenu > li {
    float: none;
    width: 201%;
}

.submenu > li > a {
    display: block;
    padding: 12px 0 12px 28px;
    width: 100%;
    text-decoration: none;
    background-color: #2c71b8;
    color: white;
    text-align: left;
    line-height: 21px;
    font-weight: 300;
    font-size: 21px;
}

.menu > li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.menu >li:hover > a {
    background-color: #2c71b8;
    color: white;
}

.menu >li:hover > .active {
    background-image: url(../img/icons/down_arrow_white.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 1em;
}

.submenu > li > a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #2c71b8;
}

.col-md-9 {
    width: 75%;
}

.form-search {
    border: 1px solid #2c71b8;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px;
    position: relative;
}

.form-search input {
    border: none;
    background: transparent;
}

.form-search input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
}

::-moz-placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
}

:-moz-placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
}

.search-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(../img/icons/search.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
}

.cart {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    background-image: url(../img/icons/cart.png);
    background-position: center;
    background-repeat: no-repeat;
}
.breadcrumbs {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.breadcrumbs > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.main_title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 50px;
}

.product-count {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 90%;
    background-color: #2c71b8;
    color: white;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
}
.product {
    border: 1px solid white;
    margin: 15px auto;
}
.product-image {
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    position: relative;
}
.image_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
.zoom {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../img/icons/zoom.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.zoom:hover {
    background-color: #2c71b8;
    background-image: url(../img/icons/zoom_active.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.like {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    position: absolute;
    top: 50px;
    right: 10px;
    background-image: url(../img/icons/like.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.like:hover {
    background-color: #2c71b8;
    background-image: url(../img/icons/like_active.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.product-body {
    border-top: 1px solid #fff;
    color: #fff;
    padding: 15px;
}
.product-title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;

}
.product-description {
    font-weight: 300;
    font-size: 18px;
    padding-top: 20px;
    
}
.product-features {
    padding-top: 15px;
    padding-bottom: 30px;
}
.type {
    padding-bottom: 16px;
}
.size {
    padding-bottom: 20px;
}
.bold {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
}
.thin {
    font-weight: 300;
    font-size: 21px;
}
.product-price {
    padding-bottom: 25px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.degree {
    vertical-align: super;
    font-size: 24px;
}
.button_det {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    background-color: #2c71b8;
    border: 1px solid #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.button_cart {
    width: 100%;
    padding: 15px 5px;
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: url(../img/icons/cart_active.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 0.8em;
    border: 1px solid #fff;
    text-transform: uppercase;
}
